* {
    margin: 0px;
    padding: 0px;
}

#contenedor {
    background-color: #fff8f0;
    font: 16px 'Times new roman', serif;
    overflow: auto;
}

div.encabezado {
    background-image: url(../imgs/guesteaus.png);
    color: #5a3e36;
    font: 36px Georgia, serif;
    text-align: center;
    background-size: cover;
    /* height: 100vh; */
    height: 900px;
}

div.encabezado img{
    height: 60px;
}

div.menu ul li{
    display: inline;
}

div.menu ul li a{
    background-color: #a77e58;
    color: #ffffff;
    font: 18px Helvetica, sans-serif;
}

div.menu ul li a:hover {
    background-color: #8b6f47;
    transition-duration: 0.3s;
    color: #5a3e36;
    font-size: 20px;
    border-bottom: 1px solid #a35555;
}

div.contenido {
    background-color: #fff8f0;
    color: #5a3e36;
    font: 18px Georgia, serif;
    float: left;
    width: 65%;
    padding: 2%;
    border-right:dashed #5a3e36 1px;
}

div.sidebar {
    background-color: #ecdcc6;
    color: #5a3e36;
    font: 18px Georgia, serif;
    float: right;
    width: 26%;
    padding: 2%;
}

div.sidebar h2{
text-align: center;
}

div.pie {
    background-color: #5a3e36;
    color: #ecdcc6;
    font: 16px Helvetica, sans-serif;
    text-align: center;
    width: 100%;
    float: left;
}

div.pie li {
    display: inline;
}

.menu {
    background-color: #a77e58;
    color: #ffffff;
    font: 18px Helvetica, sans-serif;
}

div.contenido h2{
border-top: solid;
}

form{
    background-color: aqua;
}

input[type='text'],input[type='email'],input[type='tel']{
    border: #a77e58 solid 1px;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff8f0;
}

input[type='submit'] {
    background-color: #5a3e36;
    color: #ffffff;
    padding: 10px 15px;
    border-radius: 5px;
}

input[type='submit']:hover{
    background-color: #a77e58;
    transition: 0.5s;
}

label{
    font-size: 16px;
    display: block;
}